.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--black);
}

.IntroSection {
  width: 400px;
}
h1 {
  text-align: center;
  font-size: 4rem;
}
.IntroSection.button {
  margin: 18px auto;
  padding: 12px 33px;
  border-radius: 3px;
  border: none;
}

h2 {
  margin: 18px;
}

.Board {
  display: flex;
  flex-flow: row wrap;
  width: 400px;
}

.ColorButton {
  width: 200px;
  height: 200px;
  border: none;
  cursor: pointer;
}
.ColorButton:active {
  opacity: 0.8;
}
.ColorButton:hover {
  -webkit-filter: brightness(120%);
  transition: 0.4s;
}
.button.isPlayed {
  -webkit-filter: brightness(120%);
  transition: 0.4s;
}
.ColorButton.blue {
  background-color: var(--blue);
  border-radius: 100% 0 0 0;
}
.ColorButton.red {
  background-color: var(--red);
  border-radius: 0 100% 0 0;
}
.ColorButton.yellow {
  background-color: var(--yellow);
  border-radius: 0 0 0 100%;
}
.ColorButton.green {
  background-color: var(--green);
  border-radius: 0 0 100% 0;
}